body {
  background-color: #2a2438;
}

.nav-panel {
  background-color: #352f44;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav {
  list-style-type: none;
  display: flex;
}

.nav-button {
  margin-left: 10px;
  font-family: Arial Black, sans-serif;
  color: white;
}

.nav-button a {
  text-decoration: none;
  color: white;
}

.game-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.game-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.game-name {
  font-weight: bold;
  margin-right: 10px;
}

.game-details {
  display: flex;
  align-items: center;
}

.game-picture {
  position: relative;
  width: 300px;
  height: 300px;
}

.game-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-picture:hover img {
  transform: scale(1.1);
}

.options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.game-picture:hover .options {
  display: block;
}

.notification-circle {
  background-color: #5dacbd;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

h1 {
  text-align: center;
  font-family: Arial Black, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: #5dacbd;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.game {
  width: calc(33.33% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #352f44;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  flex-grow: 1; 
}

.game-title {
  margin-top: 20px;
  margin-bottom: auto;
  text-align: center;
  font-family: Arial Black, sans-serif;
  color: white;
  text-decoration: none;
}

.game-title a {
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.game-image {
  flex-grow: 0;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.game-image img {
  flex-grow: 0;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}

.paginator a,
.paginator span {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  text-align: center;
  line-height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #5dacbd;
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  color: white; 
  text-decoration: none;
}

.paginator a.current {
  background-color: #5dacbd;
  font-weight: bold; 
  text-decoration: none;
}

.p-container p {
  margin-bottom: 5px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.game-photo img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.game-photo {
  width: 500px;
  height: 500px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.p-container {
  flex: 1 1 500px;
  width: 500px;
  height: 500px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  color: #fff;
}

.rating-container {
  flex: 1 1 500px;
  width: 500px;
  height: 1190px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  color: #fff;
}

.video-container {
  flex: 1 1 100;
  width: 1190px;
  height: 500px;
  margin-top: 20px;
  text-align: center;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Arial, sans-serif; 
  font-size: 20px; 
  color: #fff;
  margin: 10px;
}

#player {
  display: inline-block;
  margin-top: 10px;
}

.borrow-button-container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.borrow-button-text {
  font-size: 18px;
  margin-right: 10px;
  text-align: center;
}

.borrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial Black, sans-serif;
  text-decoration: none;
  border-radius: 50%; 
  font-size: 20px;
  width: 60px; 
  height: 60px; 
  margin-bottom: 20px; 
}

.borrow-button:hover {
  background-color: #5dacbd;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: Arial Black, sans-serif;
  font-size: 40px;
  margin-top: 20px; 
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  max-width: 600px;
  background-color: #352f44;
  margin-top: 50px; 
}

.form-horizontal {
  max-width: 400px;
  font-family: Arial Black, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control,
textarea {
  margin-top: 15px;
  width: 600px;
  height: 75px;
  background-color: #352f44;
  color: #fff;
  margin: 0 auto;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 600px; 
  height: 75px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px Arial Black, sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.index-title {
  text-align: center;
  font-family: Arial Black, sans-serif;
  font-size: 50px;
  color: #5dacbd;
  margin-top: 50px;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  font-family: Arial Black, sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-info {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.game-photo-index {
  width: 400px;
  height: 400px;
}

.game-info-container {
  display: flex;
  flex-direction: column;
}

.game-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.game-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.game-meta-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial Black, sans-serif;
  text-decoration: none;
  border-radius: 50%; 
  font-size: 20px;
  width: 60px; 
  height: 60px; 
  margin-bottom: 50px;
}