body {
  background-color: #2a2438;
}

.nav-panel {
  background-color: #352f44;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.nav {
  list-style-type: none;
  display: flex;
}

.nav-button {
  margin-left: 10px;
  font-family: Arial Black, sans-serif;
  font-size: 15px;
  color: white;
}

.nav-button a {
  text-decoration: none;
  color: white;
}

.notification-circle {
  background-color: #5dacbd;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

h1 {
  text-align: center;
  font-family: Arial Black, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: #5dacbd;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: #5dacbd;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

h5 {
  text-align: left;
  font-family: Arial Black, sans-serif;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.game {
  width: calc(33.33% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #352f44;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.game-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  flex-grow: 1; 
}

.game-title {
  margin-top: 20px;
  margin-bottom: auto;
  text-align: center;
  font-family: Arial Black, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.game-title a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.game-image {
  flex-grow: 0;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.game-image img {
  flex-grow: 0;
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  margin: 0 35px 0 0;
}

.paginator a,
.paginator span {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  text-align: center;
  line-height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #5dacbd;
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  color: white; 
  text-decoration: none;
}

.paginator a.current {
  background-color: #5dacbd;
  font-weight: bold; 
  text-decoration: none;
}

.paginator a:hover {
  background-color: #48969d;
}

.paginator a:active {
  background-color: #39787f;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #2a2438;
  height: 600px;
}

.image-container {
  width: 825px;
  height: 500px;
  margin-top: 50px;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-container {
  width: 800px;
  height: 500px;
  margin-top: 50px;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.p-container {
  width: 800px;
  height: 500px;
  margin-top: 50px;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.p-container p {
  margin-left: 20px;
  margin-bottom: 10px;
}

.game-detail-photo {
  width: 400px;
  height: 400px;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-detail-photo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.rating-container {
  width: 800px;
  height: 640px;
  margin-top: 50px;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

.rating-container li, h2, p {
  margin-bottom: 10px; 
  margin-left: 20px;
}

.submit-button {
  padding: 10px 15px;
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial Black, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 20PX;
}

.submit-button:hover {
  background-color: #48969d;
}

.submit-button:active {
  background-color: #39787f;
} 

.video-container {
  width: 825px;
  height: 640px;
  text-align: center;
  background-color: #352f44;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

#player {
  display: inline-block;
  margin-top: 10px;
} 

.borrow-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #352f44;
}

.borrow-button-text {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.borrow-button {
  padding: 15px 25px;
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial Black, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.borrow-button:hover {
  background-color: #48969d;
}

.borrow-button:active {
  background-color: #39787f;
} 

.inactive-button {
  opacity: 0.5;
  cursor: not-allowed;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-family: Arial Black, sans-serif;
  font-size: 40px;
  margin-top: 20px;
} 

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  max-width: 600px;
  background-color: #352f44;
  margin-top: 50px;
}

.form-horizontal {
  max-width: 400px;
  font-family: Arial Black, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control,
textarea {
  margin-top: 15px;
  width: 600px;
  height: 75px;
  background-color: #352f44;
  color: white;
  margin: 0 auto;
  font-size: 15px;
  font-family: Arial Black, sans-serif;
}

.send-button {
  margin-top: 15px;
  width: 600px;
  height: 75px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: #5dacbd;
  font-family: Arial Black, sans-serif;
  color: white;
  font-size: 15px;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px Arial Black, sans-serif;
  letter-spacing: 2px;
}

.index-title {
  text-align: center;
  font-family: Arial Black, sans-serif;
  font-size: 50px;
  color: #5dacbd;
  margin-top: 45px;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  font-family: Arial Black, sans-serif;
  font-size: 25px;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-info {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.game-photo-index {
  width: 400px;
  height: 400px;
}

.game-info-container {
  display: flex;
  flex-direction: column;
}

.game-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-family: Arial Black, sans-serif;
  font-size: 25px;
}

.game-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-meta-item {
  display: flex;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #5dacbd;
  font-family: Arial Black, sans-serif;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #352f44;
}

.user-profile-picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info-box {
  width: 300px;
  height: 150px;
  background-color: #352f44;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: Arial Black, sans-serif;
  font-size: 18px;
}

.user-info-box p {
    margin: 5px 0; 
}

.user-info-box p a {
  color: #5dacbd;
  text-decoration: none;
  font-weight: bold;
}

.user-info-box p a:hover {
  text-decoration: none;
}

.add-game-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial Black, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  width: 150px;
  height: 30px;
  margin: 0 auto; 
  margin-bottom: 10px;
  text-align: center;
  margin-right: 95px;
}

.add-game-link:hover {
  background-color: #48969d;
}

.add-game-link:active {
  background-color: #39787f;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 100px;
}

.game-item {
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 50px;
}

.game-picture {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.game-picture img {
  width: 400px;
  height: 400px;
}

.options {
  display: flex; 
  justify-content: center;
  margin-top: 10px; 
}

.options a {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 18px;
  font-size: 16px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial Black, sans-serif;
}

.options a:hover {
  background-color: #48969d;
}

.options a:active {
  background-color: #39787f;
}

.container {
  background-color: #352f44;
  padding: 10px;
  margin-bottom: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-accept,
.button-decline {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; 
}

.button-accept:hover,
.button-decline:hover {
  background-color: #48969d;
}

.button-accept:active,
.button-decline:active {
  background-color: #39787f;
}

.container-out {
  background-color: #2a2438;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-out h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-bottom: 20px;
}

.container-out p {
  font-size: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.container-out a {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.container-out a:hover {
  background-color: #48969d;
}

.container-out a:active {
  background-color: #39787f;
}

.container-in ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-in {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto; 
  margin-top: 20vh; 
  max-width: 400px; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container-in h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.container-in p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container-in a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.container-in a:hover {
  color: #48969d;
}

.container-in button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-in button:hover {
  background-color: #39787f;
}

.profile-update {
  background-color: #352f44;
  padding: 60px;
  margin: 0 auto;
  margin-top: 15vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-update h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-bottom: 40px;
  margin-top: 10px;
}

.profile-update p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.profile-update a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.profile-update a:hover {
  color: #48969d;
}

.profile-update button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.profile-update button:hover {
  background-color: #39787f;
}

.game-list-borrowed {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.borrowed-item {
  margin-bottom: 10px;
}

.borrowed-item a {
  color: #000;
  text-decoration: none;
}

.borrowed-item a:hover {
  text-decoration: underline;
}

.return-form {
  display: inline;
}

.box {
  padding: 10px;
}

.signup-form {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 15vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.signup-form p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.signup-form label {
  color: #fff;
  font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 4px #5dacbd;
}

.signup-form small {
  color: #fff;
  font-size: 12px;
}

.signup-form button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button[type="submit"]:hover {
  background-color: #39787f;
}

.signup-form a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.signup-form a:hover {
  color: #48969d;
}

.game-update {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-update h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.game-update p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.game-update label {
  color: #fff;
  font-weight: bold;
}

.game-update small {
  color: #fff;
  font-size: 12px;
}

.game-update button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-update button[type="submit"]:hover {
  background-color: #39787f;
}

.game-update a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.game-update a:hover {
  color: #48969d;
}

.game-delete {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-delete h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.game-delete p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.game-delete form {
  margin-top: 20px;
}

.game-delete button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-delete button[type="submit"]:hover {
  background-color: #39787f;
}

.game-delete a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.game-delete a:hover {
  color: #48969d;
}

.game-create {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-create h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.game-create p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.game-create label {
  color: #fff;
  font-weight: bold;
}

.game-create small {
  color: #fff;
  font-size: 12px;
}

.game-create button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-create button[type="submit"]:hover {
  background-color: #39787f;
}

.game-create a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.game-create a:hover {
  color: #48969d;
}

.game-status {
  padding: 6px 12px;
  font-size: 12px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.password-reset {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-reset h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.password-reset p {
  font-size: 16px;
  color: #fff;
}

.password-reset label {
  color: #fff;
  font-family: Arial, sans-serif;
}

.password-reset input[type="text"],
.password-reset input[type="password"] {
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.password-reset input[type="text"]:focus,
.password-reset input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 4px #5dacbd;
}

.password-reset button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-reset button[type="submit"]:hover {
  background-color: #39787f;
}

.password-reset a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.password-reset a:hover {
  color: #48969d;
}

.password-reset-done {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-reset-done h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.password-reset-done p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.password-reset {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-reset h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.password-reset form {
  margin-top: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.password-reset button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-reset .box {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
}

.password-changed {
  background-color: #352f44;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.password-changed h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 1px;
}

.password-changed p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.password-changed a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.password-changed a:hover {
  color: #48969d;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  color: #fff;
  margin-right: 10px;
  font-family: Arial, sans-serif;
}

.filter-container select {
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.filter-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #48969d;
}

.game-container-others-borrowed {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.game-item-others-borrowed {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background-color: #352f44;
  color: #fff;
  border-radius: 4px;
}

.game-item-others-borrowed a {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #5dacbd;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.game-item-others-borrowed a:hover {
  background-color: #48969d;
}

.return-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.return-form {
  display: inline-block;
  margin-left: 0px;
}

.return-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.return-button:hover {
  background-color: #48969d;
}

.box {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

.box-warning {
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial, sans-serif;
}

.box-error {
  background-color: #5dacbd;
  color: #fff;
  font-family: Arial, sans-serif;
}

.topic-container {
  background-color: #352f44;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.topics-container h2 {
  font-size: 20px;
  color: #5dacbd;
  margin-top: 1px;
}

.topics-container p {
  font-size: 14px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.topics-container a {
  font-size: 20px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.topics-container a:hover {
  color: #48969d;
}

.topics-container .create-discussion-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.topics-container .create-discussion-button:hover {
  background-color: #39787f;
}

.create-topic-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.create-topic-container {
  background-color: #352f44;
  padding: 150px;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.create-topic-container h1.create-topic-heading {
  font-size: 24px;
  color: #5dacbd;
  margin-top: -110px;
  margin-bottom: 20px;
}

.create-topic-container p {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-left: -110px;
  margin-bottom: 20px;
}

.create-topic-container a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.create-topic-container a:hover {
  color: #48969d;
}

.create-topic-container button.create-topic-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -110px;
}

.create-topic-container button.create-topic-button:hover {
  background-color: #39787f;
}

.topic-details-container h1 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: 20px;
}

.topic-details-container p {
  font-size: 16px;
  color: white;
  font-family: Arial, sans-serif;
}

.topic-details-container hr {
  border: none;
  border-top: 1px solid white;
  margin: 20px 0;
}

.topic-details-container h3 {
  font-size: 20px;
  color: #5dacbd;
  margin-top: 1px;
}

.topic-details-container div {
  margin-bottom: 20px;
}

.topic-details-container a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.topic-details-container a:hover {
  color: #48969d;
}

.topic-details-container .add-comment-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #5dacbd;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.topic-details-container .add-comment-button:hover {
  background-color: #48969d;
}

.topic-details-container .add-comment-button:active {
  background-color: #39787f;
}

.create-comment-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.create-comment-container {
  background-color: #352f44;
  padding: 120px;
  margin: 0 auto;
  margin-top: 10vh;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.create-comment-container h2 {
  font-size: 24px;
  color: #5dacbd;
  margin-top: -100px;
  margin-left: 80px;
}

.create-comment-container p {
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-left: -100px;
}

.create-comment-container a {
  font-size: 16px;
  color: #5dacbd;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.create-comment-container a:hover {
  color: #48969d;
}

.create-comment-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -100px;
}

.create-comment-container button:hover {
  background-color: #48969d;
}

.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar form {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
}

.search-bar button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #48969d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar button[type="submit"]:hover {
  background-color: #39787f;
}

.filters {
  background-color: #352f44;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
}

.filters h2 {
  font-size: 20px;
  color: #5dacbd;
  margin-top: 0px;
}

.filters form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filters label {
  margin-right: 10px;
}

.filters select,
.filters button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #5dacbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.filters button {
  background-color: #48969d;
}

.filters select:focus,
.filters button:focus {
  outline: none;
}

.filters option {
  background-color: #352f44;
  color: #fff;
}

.filters option:hover {
  background-color: #48969d;
}