{% extends 'base.html' %}
{% load static %}

{% block title %}Create Comment{% endblock %}

{% block content %}
      <div class="create-comment-container">
        	<h2 class="create-comment-heading">Add a Comment</h2>

        	<form class="create-comment-form" method="post" action="{% url 'create_comment' discussion.id %}">
            	{% csrf_token %}
            	{{ form.as_p }}
            	<button class="create-comment-button" type="submit">Post Comment</button>
        	</form>
    	</div>
{% endblock %}