{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>All Games</h1>
    {% include 'includes/paginator_pages.html' %}
    <div class="game-list">
        {% for game in game_list %}
            {% with game_image=game.image.url %}
                <div class="game">
                    <div class="game-details">
                        <h3 class="game-title">
                            <a href="{% url 'game_detail' game.pk %}">{{ game.title }}, {{ game.year }}</a>
                            <span class="game-status">{{ game.status }}</span>
                        </h3>
                        <div class="game-image">
                            {% if game_image %}
                                <img src="{{ game_image }}" alt="{{ game.title }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    {% include 'includes/paginator_pages.html' %}
{% endblock %}