{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Games Others Borrowed</h1>
    {% if games_others_borrow %}
        <ul class="game-list">
            {% for game in games_others_borrow %}
                <li class="game-item">
                    <a href="{% url 'game_detail' game.pk %}">{{ game }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="box box-warning">No games are currently borrowed from you.</p>
    {% endif %}
{% endblock %}