{% extends 'base.html' %}

{% block title %} About game {% endblock title %}

{% block content %}
    <h1>About game</h1>
    {% if game.image %}
        <img class="game-photo" src="{{ game.image.url }}" alt="Game Photo">
    {% else %}
        <span>No Image Available</span>
    {% endif %}
    <p><strong>Owner:</strong> {{ game.user }}</p>
    <p><strong>Title:</strong> {{ game.title }}</p>
    <p><strong>Category(-ies):</strong> {% for game_category in game.category.all %}{{ game_category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Publisher:</strong> {{ game.publisher }}</p>
    <p><strong>Player count:</strong> {{ game.player_count }}</p>
    <p><strong>Duration:</strong> {{ game.duration }}</p>
    <p><strong>Player age:</strong> {{ game.player_age }}</p>

    <h2>Average Rating: {{ average_rating }}</h2>
  
    <h2>User Ratings and Comments:</h2>
    <ul>
        {% for rating in ratings %}
        <li>
            <strong>User: {{ rating.user }}</strong>
            <br>
            Rating: {{ rating.rating }}
            <br>
            Comment: {{ rating.comment }}
        </li>
        {% empty %}
            <li>No ratings or comments available.</li>
        {% endfor %}
    </ul>
  
    <h3>Submit Your Rating and Comment:</h3>
    <form method="POST" action="{% url 'game_detail' game.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
