{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Games Others Borrowed</h1>
    {% if borrowed_games %}
        <ul class="game-list">
            {% for game in borrowed_games %}
                <li class="game-item">
                    <a href="{% url 'game_detail' game.pk %}">{{ game }}</a>
                    <form action="{% url 'mark_returned' game.pk %}" method="POST" class="return-form">
                        {% csrf_token %}
                        <input type="submit" value="Mark as Returned">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="box box-warning">No games are currently borrowed from you.</p>
    {% endif %}
{% endblock %}