{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>All Games</h1>
    {% include 'includes/paginator_pages.html' %}

    <div class="search-bar">
        <form method="GET" action="{% url 'game_search' %}">
            <input type="text" name="query" placeholder="Search games">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="filters">
        <h2>Filters</h2>
        <form method="GET" action="{% url 'game_filter' %}">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="">All</option>
                {% for option in category_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <label for="difficulty">Difficulty:</label>
            <select name="difficulty" id="difficulty">
                <option value="">All</option>
                {% for option in difficulty_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <label for="player_count">Player Count:</label>
            <select name="player_count" id="player_count">
                <option value="">All</option>
                {% for option in player_count_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="game-list">
        {% for game in game_list %}
            {% with game_image=game.image.url %}
                <div class="game">
                    <div class="game-details">
                        <h3 class="game-title">
                            <a href="{% url 'game_detail' game.pk %}">{{ game.title }}, {{ game.year }}</a>
                            <span class="game-status">{{ game.status }}</span>
                        </h3>
                        <div class="game-image">
                            {% if game_image %}
                                <img src="{{ game_image }}" alt="{{ game.title }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    {% include 'includes/paginator_pages.html' %}
{% endblock %}