{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome to {{ block.super }}{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1 class="index-title">BOARD GAME HUB</h1>
    <h2 class="section-title">Legendary Favorite</h2>
    <ul class="game-list">
        {% for game in top_three_games %}
        <li class="game-info">
            <div class="game-details">
                <img class="game-photo-index" src="{{ game.image.url }}" alt="{{ game.title }}">
                <div class="game-info-container">
                    <p class="game-title">
                        <a href="{% url 'game_detail' game.pk %}">{{ game.title }}</a>
                    </p>
                    <ul class="game-meta">
                        <li class="game-meta-item">
                            <strong>Rating: {{ game.rating }}/5</strong> 
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <h2 class="section-title">Unexplored Gaming Horizons</h2>
    <ul class="game-list">
        {% for game in newest_games %}
        <li class="game-info">
            <div class="game-details">
                <img class="game-photo-index" src="{{ game.image.url }}" alt="{{ game.title }}">
                <div class="game-info-container">
                    <p class="game-title">
                        <a href="{% url 'game_detail' game.pk %}">{{ game.title }}</a>
                    </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}