{% extends 'base.html' %}
{% load static %}

{% block title %}Topics{% endblock title %}

{% block content %}
    <h1>Topics</h1>
            {% for discussion in discussions %}
            <h2><a href="{% url 'discussion_detail' discussion.id %}">{{ discussion.title }}</a></h2>
            <p>Created by: {{ discussion.author.username }}</p>
            <p>{{ discussion.created_at }}</p>
          {% endfor %}
          
          <a href="{% url 'create_discussion' %}">Create New Discussion</a>
{% endblock %}