{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Game Borrow Requests</h1>
    <ul>
      {% for borrow_request in borrow_requests %} 
        {% if borrow_request.borrower == request.user %}
          <li>
            <strong>Game:</strong> {{ borrow_request.game }}
            <br>
            <strong>Borrower:</strong> {{ borrow_request.borrower }}
            <br>
            <strong>Owner:</strong> {{ borrow_request.owner }}
            <br>
            <strong>Due Back:</strong> {{ borrow_request.due_back }}
            <br>
            <strong>Message:</strong> {{ borrow_request.message }}
            <br>
          </li>
        {% endif %}
      {% empty %}
        <li>No game borrow requests yet.</li>
      {% endfor %}
    </ul>
{% endblock %}