{% extends 'base.html' %}
{% load static %}

{% block content %}
      <h1>Submited Game Borrow Requests</h1>
      <div class="container">
          <ul class="list">
              {% for borrow_request in borrow_requests %} 
                  {% if borrow_request.borrower == request.user %}
                      <li class="list-item">
							<strong>Game:</strong> {{ borrow_request.game }}
							<br>
							<strong>Borrower:</strong> {{ borrow_request.borrower }}
							<br>
							<strong>Owner:</strong> {{ borrow_request.owner }}
							<br>
							<strong>Message:</strong> {{ borrow_request.message }}
							<br>
							<strong>Status:</strong> {{ borrow_request.request_status }}
							<br>
                      </li>
                  {% endif %}
              {% empty %}
                  <li class="list-item">No game borrow requests yet.</li>
              {% endfor %}
          </ul>
      </div>
{% endblock %}