{% extends 'base.html' %}

{% block title %}Login to{% endblock title %}

{% block content %}
    <div class="container-in">
    <h1>Login to Board Game Hub</h1>
    {% if form.errors %}
        <p class="box box-error">Login error. Please try again.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}?next={% url 'index' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Log in</button></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    <p>If you do not have an account, please <a href="{% url 'signup' %}">Sign up</a>.</p>
    </div>
{% endblock content %}