{% extends 'base.html' %}

{% block title %}Password reset{{ block.super }}{% endblock title %}

{% block content %}
    <div class="password-reset">
        <h1>Password reset</h1>
        {% if validlink %}
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change password</button>
            </form>
        {% else %}
            <p class="box box-error">Password Reset Failed: the link has expired and is no longer valid.</p>
        {% endif %}
    </div>
{% endblock content %}